<% 
def display_cell(coord,cell)
  if cell.content.class.name == "Water"
    cell.content.hit? == nil ? "<a href='/shot?enemy=#{@enemy}&coord=#{coord}'>~</a>" : "X"
  else 
    cell.content.hits == cell.content.size ? "#" : "<a href='/shot?enemy=#{@enemy}&coord=#{coord}'>~</a>"
  end
end %>

<h1><%= @name %></h1>
<table class="board"><tr><td></td><td>A</td><td>B</td><td>C</td><td>D</td><td>E</td><td>F</td><td>J</td><td>H</td><td>I</td><td>J</td></tr>
  <% row = 0 %>
  <% @board.each do |coord, cell| %>
    <% if coord.slice(1..coord.length) == "1" %>

      <tr><td><%= row+=1 %></td><td><%= display_cell(coord,cell) %></td>

    <% elsif coord.slice(1..coord.length) == "10" %>

      <td><%= display_cell(coord,cell)  %></td></tr>

    <% else %>

      <td><%= display_cell(coord,cell)  %></td> 

    <% end %>
  <% end %>
</table>

<form action="/game/:coord" method="post">
  <input type="text" name="coordinate">
  <input type="submit" value="Shoot!">
</form>
